<footer id="footerarea" class="clearfix">
  <div class="widget-wrap">
    <div class="container">
      <div class="widget-area clearfix">
      </div><!-- .widget-area -->
    </div><!-- .container -->
  </div><!-- .widget-wrap -->

  <div id="site-generator">
    <div class="container">
      <div class="copyright">&copy; Site du laboratoire MIA - Université de La Rochelle (réalisé par <a href="https://www.researchgate.net/profile/Sirine-Ammar">Sirine Ammar</a>).
      </div><!-- .copyright -->
      <div class="footer-right"></div><div style="clear:both;">
      </div>
    </div><!-- .container -->
  </div><!-- #site-generator -->
  <div class="back-to-top">
    <a href="#branding"></a>
  </div>
</footer>
</div><!-- .wrapper -->

{{ partial "footer_js" . }}
