
<section>
    {{ partial "article_header" . }}
    <div>
      EA 3165, est un laboratoire pluridisciplinaire qui regroupe des enseignants-chercheurs de quatre sections CNU ("Mathématiques", "Mathématiques appliquées et applications de mathématiques", "Informatique" et "Génie informatique, automatique et traitement du signal").
  <br>
  <br>
  Si l'activité scientifique du MIA s'appuie sur des travaux théoriques tels qu'on les imagine traditionnellement dans un laboratoire de mathématiques (algèbre et topologie, systèmes dynamiques, étude théorique des équations aux dérivées partielles, géométrie différentielle), sa structuration transverse est pensée pour répondre aux grands enjeux applicatifs actuels et ce au travers de deux domaines d'expertise. </div>
    {{ partial "article_footer" . }}
<br>
<br>
<h4>"Mathématiques et Image Numérique"</h4> -- Détection, analyse et synthèse de textures dynamiques ; Traitement et analyse d'images multi-spectrales ;  Classification & Reconnaissance de forme ; Géométrie de l'information. <a href="http://mia.univ-larochelle.fr/images/stories/competences/comp1.pdf" target="_blank">En savoir plus...</a>
<br>
<br>
<br>
<h4>"Mathématiques Environnement et Sciences de la Vie"</h4> -- Dynamiques d’épidémies et de populations, économie ; Etudes de pérennité pour les problèmes multi-échelles  ; Gestion des interfaces & transitions de phase ; Milieux poreux, gestion des aquifères, propagation des polluants  ;  Ondelettes et champ de vitesses pour les écoulements turbulents  ;  Suivi d’objets en mouvement. <a href="http://mia.univ-larochelle.fr/images/stories/competences/comp2.pdf" target="_blank">En savoir plus...</a>
<br>
<br>
Le MIA est membre fondateur de la fédération MIRES, CNRS FR 3423, et animateur des axes thématiques "Mathématiques et leurs interactions", "Images, Information numérique & Systèmes" et "Actions transverses". Le MIA émarge également à la fédération FREDD, CNRS FR 3097.
<a href="./about">En savoir plus...</a>
    </div>
</section>
{{ partial "pagination" . }}
